#
# SPDX-FileCopyrightText: 2021 William Swartzendruber <wswartzendruber@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0
#

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
